.backButton {
    width: 2vw;

    position: absolute;
    right: 95%;
    bottom: 90%;
} 
    .backButton:hover {
        cursor: pointer;
    }

.cardBox {
    width: 80%;
    height: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #363636;
    border-radius: 20px;
}

    .cardPreview {
        width: 50%;
        height: 75%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
        .card {
            width: 60%;
            height: 40%;

            background-color: #1c1c1c;
            border-radius: 10px;
        } 
            .card:hover {
                cursor: pointer;
            }
            #cardBack {
                margin-left: 20%;
            }

    .cardInfos {
        width: 40%;
        height: 70%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .miniCardInfos {
            width: 100%;
            height: 60%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

            .inputsBox {
                width: 80%;
                height: 18%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;

                color: #fff;
            }

                .inputCard {
                    width: 100%;
                    height: 100%;

                    padding-left: 5%;

                    font-size: 0.8em;
                    color: #fff;
                    background-color: #1c1c1c;
                    border-radius: 10px;
                    outline: none;
                } 
                    .inputCard:hover {
                        cursor: pointer;
                        
                        border: solid #fff 3px;
                    }

            .minInputsBox {
                width: 80%;
                height: 20%;

                display: flex;
                justify-content: space-between;
            }

                #cardCod {
                    width: 40%;
                    height: 90%;
                }
                #cardDate {
                    width: 40%;
                    height: 90%;
                }

    .confirmBox {
        width: 80%;
        height: 40%;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

        .confirmButton {
            width: 80%;
            height: 25%;

            margin-top: 20%;

            color: #fff;
            background-color: #1c1c1c;
            border-radius: 10px;
        } 
            .confirmButton:hover {
                cursor: pointer;

                border: solid #fff 3px;
            }
